*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.header{
  background:rgba(0, 0, 200, 0.883);
  color: white;
  margin-bottom: 50px;
  padding: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.header-title{
  font-weight:bold;
  font-family: 'Noticia Text', serif;
}

.page-title{
  font-family: 'Noticia Text', serif;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top:400px;
  color: white;
  background: rgba(0, 0, 200, 0.883);

}

.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.search-bar {
  width: 750px;
  height: 50px;
  font-size: 32px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ed563c
}

.submit-btn{
  margin: 24px 0;
  color: white;
  background: red;
  padding: 12px 24px;
  font-size: 16px;
  border-style: none;
  border-radius: 8px;
  letter-spacing: 2px;
}

.representative-info{
  margin: 18px 0; 
}

.office-title{
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 200, 0.883);
}

ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-start;
}
.menu-item a{
  color: white;
  font-size: 26px;
  margin-right: 24px;
  text-decoration: none;
}

.sign-up-container{
  display: flex;
  justify-content: space-around;
  margin: 24px;
  flex-direction: column;
  align-items: center;
}

.sign-in-container{
  display: flex;
  justify-content: space-around;
  margin: 24px;
  flex-direction: column;
  align-items: center;
}

.form-label{
  font-family: 'Noticia Text', serif;
  font-size: 36px;
  margin: 16px;
  float: right;
}

.form-input{

  height: 42px;
  min-width: 250px;
  font-size: 36px;
  margin: 16 px;
}