*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.header{
  text-align: center;
  background:rgba(0, 0, 200, 0.883);
  color: white;
  margin-bottom: 50px;
}

.image-container{
  height: 850px;
  overflow: hidden;
}

.header-title{
  font-weight:bold;

}

.footer {
  text-align: center;
  padding: 45px;
  margin-top: 100px;
  color: white;
  background: rgba(0, 0, 200, 0.883);

}

.search-container{
  flex-direction: column;
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: space-around;
  margin: 24px;
}

.search-bar {
  width: 650px;
  height: 50px; 
  font-size: 36px;
}

.submit-btn{
  margin: 24px 0;
  color: white;
  background: red;
  padding: 12px 24px;
  font-size: 16px;
  border-style: none;
  border-radius: 8px;
  letter-spacing: 2px;
}

.representative-info{
  margin: 18px 0; 
}

.office-title{
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 200, 0.883);
}

ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-start;
}
.menu-item a{
  color: white;
  font-size: 26px;
  margin-right: 24px;
  text-decoration: none;
}

.sign-up-container{
  display: flex;
  justify-content: space-around;
  margin: 24px;
  flex-direction: column;
}

.form-label{
  font-size: 36px;
  margin: 16px;
  float: right;
}

.form-input{
  height: 42px;
  min-width: 250px;
  font-size: 36px;
  margin: 16 px;
}